/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/*
	========================================
	Grid
	========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.two-cols {
  width: 50%;
}

.three-cols {
  width: 33.33%;
}

.four-cols {
  width: 25%;
}

.two-cols,
.three-cols,
.four-cols {
  display: inline-block;
  vertical-align: top;
}

.grid {
  padding-left: 30px;
  padding-right: 30px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.container,
.container-720 {
  padding-left: 30px;
  padding-right: 30px;
}

.container-720 {
  width: 720px;
  margin: 0 auto;
}

/*
  ========================================
  Main header
  ========================================
*/
main {
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  margin: 0 auto;
  height: 680px;
}

header {
  height: 80px;
}

header img {
  height: 50px;
  float: left;
}

.nav {
  text-align: right;
  text-transform: uppercase;
  color: #fff;
}

.nav a {
  margin: 0 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.hero {
  text-align: center;
  padding-top: 180px;
  color: #fff;
}

.hero .btn {
  text-transform: uppercase;
  border: 2px solid #fff;
  margin: 24px;
  padding: 8px;
  width: 160px;
  height: 44px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  border-radius: 8px;
}

.hero h1 {
  font-weight: bold;
}

.hero h3 {
  margin-top: 32px;
}

/*
	========================================
	Typography
	========================================
*/
h1 {
  font-size: 44px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

/*
	========================================
	Achievement
	========================================
*/
.achievement {
  text-align: center;
  font-weight: bold;
}

.container-720 {
  width: 960px;
}

.three-cols h1 {
  font-size: 64px;
  color: #ee1e6d;
}

.three-cols h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 20px;
  color: #666;
}

/*
	========================================
	Mission
	========================================
*/
.mission {
  background-color: #fbebf1;
  margin: 0 auto;
  height: 240px;
  border-radius: 16px;
  text-align: center;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 165.24%;
  font-weight: 400;
}

.mission .content {
  padding: 48px 64px;
}

.content h3 {
  color: #d74b8d;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 16px;
  letter-spacing: 1px;
}

/*
	========================================
	Superhero
	========================================
*/
.two-cols section {
  margin-top: 50px;
  line-height: 165.24%;
}

.two-cols section h1 {
  text-transform: capitalize;
  color: #d74b8d;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.two-cols section p {
  color: #666;
}

#super-hero {
  height: 504px;
}

/*
	========================================
	Image gallery
	========================================
*/
.image-gallery {
  background-color: #fbebf1;
}

.image-gallery .section-title {
  width: 277px;
}

.section-title {
  margin: 0 auto;
  font-size: 30px;
  color: #d74b8d;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 5px dashed #572d5f;
  line-height: 2.5rem;
  letter-spacing: 2px;
  padding-top: 50px;
}

.images {
  text-align: center;
  padding-bottom: 50px;
}

#main-image {
  width: 50%;
  margin-top: 20px;
}

.image-gallery-nav {
  margin-top: 20px;
}

.image-gallery-nav img {
  width: 150px;
  height: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

/*
	========================================
	Programs
	========================================
*/
.container-720 {
  width: 1098px;
}

.programs {
  height: 451px;
  text-align: center;
}

.programs .section-title {
  width: 276px;
}

.four-cols {
  padding: 0 25px;
  margin-top: 50px;
}

.four-cols img {
  width: 100px;
  height: 80px;
}

.four-cols h2 {
  text-transform: uppercase;
  color: #572d5f;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 144%;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0.5em;
}

.four-cols p {
  text-align: center;
  line-height: 165.24%;
  color: #666;
  margin-top: 20px;
}

/*
	========================================
	Social media
	========================================
*/
.social-media {
  text-align: center;
  background-color: #fbebf1;
}

.cols {
  margin-left: 100px;
  margin-right: 100px;
}

.social-media .section-title {
  width: 244px;
}

.social-media p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-media span {
  color: #d74b8d;
  font-weight: bold;
}

.three-cols {
  margin-left: 5px;
  width: 30%;
}

.three-cols img {
  width: 100%;
}

.social-media .cols {
  padding-bottom: 50px;
}

/*
	========================================
	Featured
	========================================
*/
.featured h1{
  width: 175px;
}

.featured .two-cols {
  padding: 10px;
}

.featured .two-cols p {
  text-align: center;
  margin: 10px;
}

.featured .cols {
  padding-top: 50px;
}

/*
	========================================
	Start a chapter
	========================================
*/
.chapter {
  background-color: #fbebf1;
}

.chapter .section-title {
  width: 310px;
}

.chapter p {
  width: 1098px;
  margin: 0 auto;
  color: #333;
  font-size: 24px;
  padding-top: 50px;
}

.chapter img {
  width: 80%;
}

.btn-image {
  text-align: center;
}

.apply-donate {
  border: 2px solid #d74b8d;
  background: transparent;
  width: 320px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
}

.apply-donate a {
  color: #ee1e6d;
}

/*
	========================================
	Donate
	========================================
*/
.donate {
  width: 1098px;
  margin: 0 auto;
}

.col-one, .col-two {
  display: inline-block;
  vertical-align: top;
}

.col-one {
  width: 25%;
}

.col-two {
  width: 75%;
}

.col-two h1 {
  color: #ee1e6d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
}

.col-two p {
  margin-top: 10px;
  line-height: 144%;
}

.col-two .apply-donate {
  margin-top: 30px;
}

/*
	========================================
	Footer
	========================================
*/
footer {
  background-color: rgb(99, 55, 154);;
  color: #fff;
}

footer p {
  margin-top: 20px;
  line-height: 144%;
  font-weight: 400;
}

#col-one {
  width: 45%;
}

footer .three-cols {
  width: 25%;
}

#handles {
  text-align: center;
}

#col-three {
  text-align: center;
  margin-top: 20px;
}

footer h5 {
  font-weight: bold;
  font-size: 18px;
}

#digital-ocean {
  width: 100px;
}

.copy-right {
  background-color: #421f6d;
  text-align: center;
}

.copy-right p {
  padding-top: 10px;
  padding-bottom: 10px;
}
